
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="lstyle.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form action="/register" method="post">
  <img src="logo.png" style="text-align: center;padding-top: 30px;padding-left: 170px;">
    <h1 style="padding-top: 15px;">Registration</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="Name" autocomplete="nope" name="name">
      </div>
      <div class="input-field">
        <input type="text" placeholder="Phone Number" autocomplete="nope" name="phnumber" maxlength="10" minlength="10">
      </div>
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" name = "email">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" name="password">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Confirm Password" autocomplete="new-password" name="cpassword">
      </div>
      {{!-- <a href="#" class="link">Forgot Your Password?</a> --}}
      <p style="color: red;">All Fields are Required.</p>
    </div>
    <div class="action">
      <button style="display: none;"></button>
      <button>Register</button>
    </div>
  </form>
  <br>
  <p style="text-align: center;">
    Already have an Account ? <a href="/login">Login</a>
  </p>
  <br>
</div>
<!-- partial -->


</body>
</html>
